# Ignore Python cache and virtual environment
__pycache__/
*.py[cod]
env/
pawtra_env/

# Ignore DB and OS files
*.sqlite3
*.log
.DS_Store

# Ignore IDE settings
.vscode/
.idea/


# Ignore everything in the media folder
media/*

# But keep the pet_profile folder
!media/pet_profile/

# But keep the profile_pics folder
!media/profile_pics/

# Ignore everything inside pet_profile and profile_pics
media/pet_profile/*
media/profile_pics/*

# Except the specific default profile images
!media/pet_profile/default_pet_profile.png
!media/profile_pics/defaultprofile.png