body{
    background-color: #273e47 !important; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.fa-clock{
    color: #eae2b7;
}
h3{
    color: #be620d !important;
}


@media only screen and (max-width: 768px) {
  /* CSS rules here will apply when the screen width is 768px or smaller */
  h2 {
    background-color: lightblue;
  }
}
hr{
    background-color: #eae2b7 !important;
}




  .card {
    background-color: rgba(0, 0, 0, 0.2) !important; 
  border: none;
  border-radius: 16px;
  transition: box-shadow 0.2s ease;
  color: #eae2b7;
  max-width: 800px;
  margin: auto;
  text-align: center;
 
  max-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
   opacity: 0;
  transform: scale(0.8);
  animation: popIn 0.6s ease-out forwards;
  }
  
  .card:hover {

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
      transform: scale(1.03);
  }



  


.btn-logout{
    width: 230px;
      transition: 0.2s ease-in-out;
      color: #be620d !important;
      border: 1px solid #be620d !important; 
      margin-top: 30px;
      padding: 5px  0;

}

.btn-logout:hover{
  background-color:#be620d;
  color: #eae2b7 !important;
      transform: scale(1.03);
      cursor: pointer;
}
.btn-logout:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}