.arrow-back a{
    text-decoration: none;
    color: #eae2b7 ;
    transition: 0.80s ease;
}

.arrow-back a:hover{
    text-decoration: none;
    color: #be620d;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #6c757d;
    margin-top: 20px;
}


.dog-detail-container{
    background-color: rgba(0, 0, 0, 0.2); /* Transparent black */
    color: #eae2b7;
    max-width: 900px;
    margin: auto;
    padding: 15px;
    max-height: 300px;  
  } 

  .dog-detail-container strong{
    color: #f77f00;
  }


/* TABLES */
.thead-custom {
    background-color: #eae2b7; /* light beige header */
    color: #273e47;
  }
  
  /* Table rows */
  .vaccine-table tbody tr:nth-child(odd) {
    background-color: #b3b3b3; /* lighter gray */
    color: #273e47;
  }
  
  .vaccine-table tbody tr:nth-child(even) {
    background-color: #8c8c8c; /* darker gray */
    color: #273e47;
  }



  
  /* Border */
  .vaccine-table th, .vaccine-table td {
    border: 2px solid black;
  }
  
  /* Optional: Reduce spacing */
  .vaccine-table td, .vaccine-table th {
    padding: 8px;
  }
  

  .tag{
    color: #f77f00;
  }


.btn-details{
  background-color: #f77f00;
  color: #273e47;
  transition: 0.80s ease;
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
}



.btn-details:hover{
  background-color: #be620d;
  color: #eae2b7;
}


.btn-view-history{
  background-color: #f77f00;
  color: #273e47;
  transition: 0.80s ease;
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
}



.btn-view-history:hover{
  background-color: #be620d;
  color: #eae2b7;
}