.arrow-back a{
    text-decoration: none;
    color: #eae2b7 ;
    transition: 0.80s ease;
}

.arrow-back a:hover{
    text-decoration: none;
    color: #be620d;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #6c757d;
    margin-top: 20px;
}
/* .card-detail {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
} */
.vaccination-section {
    margin-top: 40px;
}
.table thead {
    background-color: #343a40;
    color: white;
}


.dog-detail-container{
background-color: rgba(0, 0, 0, 0.2); /* Transparent black */
    color: #eae2b7;
    max-width: 900px;
    margin: auto;
    /* height: 130px; */
    padding: 15px;
    max-height: 300px;
  } 


