{% extends 'owner/base.html' %}
{% load static %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'core/styles/owner/dashboard.css' %}">
{% endblock extra_css %}
{% block title %}Dashboard - PawTraConnect{% endblock %}
{% block content %}
<div class="row mt-4">
<!-- Pet Sidebar -->
<div class="col-md-4 registered-pets-section pt-3">
    <a href="{% url 'register-dog' %}">
        <button class="btn btn-register btn-block mb-3 col-md-9" >Register New Pet</button>
    </a>


   <div class="search-bar mx-lg-4 mr-md-3 m-sm-0">
            <form method="get" action="" class="mb-3">
              <input type="text" name="q" class="form-control" placeholder="Search for pets..." value="{{ request.GET.q }}">
            </form>
  </div>


    <div class="registered-pets">
    {% for dog in registered_dogs %}
    <a href="{% url 'dog-profile' dog.id %}">
        <div class="sidebar-pets">
            <div class="card mb-2 clickable">
                <div class="card-body d-flex align-items-center">
                    <img src="{{ dog.pet_profile.url }}" class="rounded-circle me-2 mr-4" width="72" height="72" style="object-fit: cover;">
                    <div>
                        <strong><span>Name:</span> {{ dog.name }}</strong><br>
                        <strong><span>Breed:</span> {{ dog.breed }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    </div>
</div>
    <!-- Main Dashboard Content -->
    <div class="col-md-8 mt-5">
        <div class="row dashboard-overview mb-4">
    
            <div class="col-md-4 mb-3">
                <div class="card card-view text-center p-3">
                    <h5>Total Registered Pets</h5>
                    <h3>{{registered_dogs.count}}</h3>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card card-view text-center p-3">
                    <h5>Overdue Vaccinations</h5>
                    <h3>{{overdue_vaccinations.count}}</h3>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card card-view text-center p-3">
                    <h5>Upcoming Vaccinations</h5>
                    <h3>{{upcoming_vaccinations.count}}</h3>
                </div>
            </div>
        </div>

        <h5 class="tag">Overdue Vaccinations</h5>
        <div class="table-responsive mb-4">
            <table class="table table-bordered text-center vaccine-table">
                <thead class="thead-custom">
                  <tr>
                    <th>Pet Name</th>
                    <th>Vaccine</th>
                    <th>Due Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for overdue_vaccination in overdue_vaccinations %}
                  <tr>
                    <td><strong>{{overdue_vaccination.pet.name}}</strong></td>
                    <td>{{overdue_vaccination.vaccine_name}}</td>
                    <td>{{overdue_vaccination.next_due_date}}</td>
                    <td> 
                      <a href="{% url 'vaccination-details-page' overdue_vaccination.id 'false' %}">
                        <button class="btn btn-details">Details</button>
                      </a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4">No Overdue Vaccinations Yet.</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        <h5 class="tag">Upcoming Vaccinations</h5>
        <div class="table-responsive">
            <table class="table table-bordered text-center vaccine-table">
                <thead class="thead-custom">
                  <tr>
                    <th>Pet Name</th>
                    <th>Vaccine</th>
                    <th>Due Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 {% for upcoming_vaccination in upcoming_vaccinations %}
                  <tr>
                    <td><strong>{{upcoming_vaccination.pet.name}}</strong></td>
                    <td>{{upcoming_vaccination.vaccine_name}}</td>
                    <td>{{upcoming_vaccination.next_due_date}}</td>
                    <td> <a href="{% url 'vaccination-details-page' upcoming_vaccination.id 'false' %}">
                        <button class="btn btn-details">Details</button>
                      </a></td>
                  </tr>
                    {% empty %}
                  <tr>
                    <td colspan="4">No Upcoming Vaccinations Yet.</td>
                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>
        </div>

    </div>
</div>
{% endblock content %}
