

  <div class="container room-container">

<div class="arrow-back mb-5">
  <a href="javascript:history.back()" class="arrow-back mb-4">
  <i class="fas fa-arrow-left mr-2"></i>Back
  </a>
</div>

    <div class="host-header">
      <img src="{{announcement.host.profile_picture.url}}" alt="Host Profile" />
      <div class="host-info">
        <div class="host-name">{{announcement.host.username}}</div>
        <div class="post-time">{{announcement.created|timesince}} ago</div>
      </div>
    </div>

    <div class="room-title">{{announcement.title}}</div>
    <div class="room-content">
      {{announcement.content}}
    </div>
    {% if announcement.image %}
    <div class="room-img text-center"><img src="{{announcement.image.url}}" alt="" width="100%" class="img-fluid"></div>
    {% endif %}
    


    </div>
  </div>

  
  <!-- Back to Top Button -->
<button id="backToTop" title="Go to top">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V4.707l3.147 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 4.707V11.5A.5.5 0 0 0 8 12z"/>
  </svg>
</button>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  // back top
  const backToTopBtn = document.getElementById("backToTop");

  window.addEventListener("scroll", function () {
    if (window.scrollY > 200) {
      backToTopBtn.classList.add("show");
    } else {
      backToTopBtn.classList.remove("show");
    }
  });

  backToTopBtn.addEventListener("click", function () {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });

</script>