

  <div class="container room-container">

<a href="{% url 'club-profile-page' club.id %}?tab=announcements" class="back-link">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
    <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 1-.708 0L4.5 8.207l-.354-.354.354-.353L7.646 4.646a.5.5 0 0 1 .708.708L6.207 8l2.147 2.146a.5.5 0 0 1 0 .708z"/>
    <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 1-.5.5H5a.5.5 0 0 1 0-1h6a.5.5 0 0 1 .5.5z"/>
  </svg>
  <span>Back</span>
</a>

    <div class="host-header">
      <img src="{{announcement.host.profile_picture.url}}" alt="Host Profile" />
      <div class="host-info">
        <div class="host-name">{{announcement.host.username}}</div>
        <div class="post-time">{{announcement.created|timesince}} ago</div>
      </div>
    </div>

    <div class="room-title">{{announcement.title}}</div>
    {% if announcement.image %}
    <div class="room-img text-center"><img src="{{announcement.image.url}}" alt="" width="100%" class="img-fluid"></div>
    {% endif %}
    <div class="room-content">
      {{announcement.content}}
    </div>


    </div>
  </div>

  
  <!-- Back to Top Button -->
<button id="backToTop" title="Go to top">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V4.707l3.147 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 4.707V11.5A.5.5 0 0 0 8 12z"/>
  </svg>
</button>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  // back top
  const backToTopBtn = document.getElementById("backToTop");

  window.addEventListener("scroll", function () {
    if (window.scrollY > 200) {
      backToTopBtn.classList.add("show");
    } else {
      backToTopBtn.classList.remove("show");
    }
  });

  backToTopBtn.addEventListener("click", function () {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });

</script>