
<div class="row mt-5">
   <div class="arrow-back col-9 m-auto ">
                    <a href="javascript:history.back()" class="arrow-back">
                        <i class="fas fa-arrow-left mr-2"></i> Back
                    </a>
                </div>
</div>
    
   <div class="row table-responsive mb-4 m-auto">
      
            <table class="table col-8 mx-auto mt-5 table-bordered text-center vaccine-table">
                <thead class="thead-custom">
                  <tr>
                    <th>Vaccine</th>
                    <th>Date Administered</th>
                    <th>Completed</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for vaccination_record in pet_vaccination_records %}
                  <tr>
                    <td>{{vaccination_record.vaccine_name}}</td>
                    <td>{{vaccination_record.date_administered}}</td>
                    <td><i class="fas fa-check"></i></td>
                    <td>
                      <a href="{% url 'vaccination-details-page' vaccination_record.id  'true'%}">
                      <button class="btn btn-details btn-sm">Details</button>
                    </a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4">No Vacciantion Record Yet.</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        
<!-- Back to Top Button -->
<button id="backToTop" title="Go to top">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V4.707l3.147 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 4.707V11.5A.5.5 0 0 0 8 12z"/>
  </svg>
</button>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  // back top
  const backToTopBtn = document.getElementById("backToTop");

  window.addEventListener("scroll", function () {
    if (window.scrollY > 200) {
      backToTopBtn.classList.add("show");
    } else {
      backToTopBtn.classList.remove("show");
    }
  });

  backToTopBtn.addEventListener("click", function () {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });

</script>