.arrow-back a{
    text-decoration: none;
    color: #eae2b7 ;
    transition: 0.80s ease;
}

.arrow-back a:hover{
    text-decoration: none;
    color: #be620d;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #6c757d;
    margin-top: 20px;
}


.dog-detail-container{
    background-color: rgba(0, 0, 0, 0.2); /* Transparent black */
    color: #eae2b7;
    max-width: 900px;
    margin: auto;
    padding: 15px;
    max-height: 300px;  
  } 

  .dog-detail-container strong{
    color: #f77f00;
  }

 .dog-detail-container:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }


/* TABLES */
.thead-custom {
    background-color: #eae2b7; /* light beige header */
    color: #273e47;
  }
  
  /* Table rows */
  .vaccine-table tbody tr:nth-child(odd) {
    background-color: #b3b3b3; /* lighter gray */
    color: #273e47;
  }
  
  .vaccine-table tbody tr:nth-child(even) {
    background-color: #8c8c8c; /* darker gray */
    color: #273e47;
  }



  
  /* Border */
  .vaccine-table th, .vaccine-table td {
    border: 2px solid black;
  }
  
  /* Optional: Reduce spacing */
  .vaccine-table td, .vaccine-table th {
    padding: 8px;
  }
  

  .tag{
    color: #f77f00;
  }

.btn-details{
      width: 50%;
      transition: 0.2s ease-in-out;
      color: #be620d;
      border: 1px solid #be620d;
}




.btn-details:focus,
.btn-details:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-details:hover{
 background-color:#be620d;
  color: #eae2b7;
      transform: scale(1.03);
}




.btn-view-history{
      width: 300px;
      transition: 0.2s ease-in-out;
      color: #be620d;
      border: 1px solid #be620d;
}



.btn-view-history:hover{
  background-color:#be620d;
  color: #eae2b7;
      transform: scale(1.03);
        transition: 0.2s ease-in-out;
}

.edit-profile a{
  font-style: italic;
  border: 1px solid #eae2b7;
  padding: 5px 20px;
  border-radius: 30px;
}

@media (max-width: 768px) {

  .btn-details{
    width: 90%;
  
  }

  .btn-view-history{
    margin-right: 0 !important;
    margin-bottom: 5px !important;
    width: 100%;;
  }
}