
.arrow-back a{
    text-decoration: none;
    color: #eae2b7 ;
    transition: 0.80s ease;
}

.arrow-back a:hover{
    text-decoration: none;
    color: #be620d;
}

.container{
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: .25rem !important;
  color:#eae2b7 ;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none; 
  }

    
.container:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }


.pets{
  max-height: 80vh;    /* optional, keeps internal scroll */
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: thin;
  scrollbar-color: #f77f00 transparent;
}

/* Modern scrollbar (Webkit browsers) */
.pets::-webkit-scrollbar {
  width: 6px;
}

.pets::-webkit-scrollbar-track {
  background: transparent;
}

.pets::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 4px;
}

.pet-card {
  background-color: rgba(0, 0, 0, 0.2); 
  border: none;
  border-radius: 16px;
  transition: box-shadow 0.2s ease;
  color: #eae2b7;
  
}

.pet-card:hover {
transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}



  .form-control{
  background-color: rgba(0, 0, 0, 0.2);
  border: none !important;
  box-shadow: none !important;
   border-radius: 10px;
  transition: box-shadow 0.2s ease;

}

.form-control:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.2);
  color: #eae2b7;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25) !important;
}

.view-health-record{
 width: 230px;
      transition: 0.2s ease-in-out;
      color: #be620d;
      border: 1px solid #be620d;
      margin-right: 1rem;
}


.view-health-record:hover{
  background-color:#be620d;
  color: #eae2b7;
      transform: scale(1.03);
}




@media (max-width: 1000px) {
.view-health-record{
    width: 100%;
    margin: 0 !important;
  }
}


.badge-info{
    background-color: #be620d;
    color: #eae2b7;
}