

.arrow-back a{
    text-decoration: none;
    color: #eae2b7 ;
    transition: 0.80s ease;
}

.arrow-back a:hover{
    text-decoration: none;
    color: #be620d;
}
/* TABLES */
.thead-custom {
    background-color: #eae2b7; /* light beige header */
    color: #273e47;
  }
  
  /* Table rows */
  .vaccine-table tbody tr:nth-child(odd) {
    background-color: #b3b3b3; /* lighter gray */
    color: #273e47;
  }
  
  .vaccine-table tbody tr:nth-child(even) {
    background-color: #8c8c8c; /* darker gray */
    color: #273e47;
  }



  
  /* Border */
  .vaccine-table th, .vaccine-table td {
    border: 2px solid black;
  }
  
  /* Optional: Reduce spacing */
  .vaccine-table td, .vaccine-table th {
    padding: 8px;
  }
  

  
.btn-details{
      min-width: 60px;
      transition: 0.2s ease-in-out;
      color: #be620d;
      border: 1px solid #be620d;
}




.btn-details:focus,
.btn-details:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-details:hover{
 background-color:#be620d;
  color: #eae2b7;
  transform: scale(1.03);
}

.fa-check{
    color: green;
}