
 <!-- ✅ ADDED: Back arrow icon in top-left -->
                <div class="arrow-back mb-4">
                    <a href="{% url 'club-page' %}" class="arrow-back">
                        <i class="fas fa-arrow-left mr-2"></i> Back
                    </a>
                </div>


 <div class="text-center text-white mb-5">
  <img src="{{ club.user.profile_picture.url }}" class="rounded-circle border border-warning mb-3 shadow" width="140" height="140">
  <h2 class="font-weight-bold club-name">{{club.club_name}}</h2>
  <p class=" club-description">{{club.description}}</p>
    
      {% if membership_status == 'pending' %}                                            
    <button disabled class="btn ">Reuqest Sent</button>                     
    {% elif membership_status == 'approved' %}
        <input type="button" value="MEMBER" class="btn " disabled>
     {% elif membership_status == 'banned' %}
        <button disabled class="btn mb-5">You are banned by the admin</button> 


    {% else %}
    <form action="{% url 'join-club' club.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="JOIN" class="btn btn-join">
    </form>                          
     {% endif %}
</div>
 







