<!-- <div class="about-club">
    <div class="row">
        <div class="col-12">
  {% if club.cpc_document %}
    <p><strong>CPC Document:</strong> 
      <a href="{{ club.cpc_document.url }}" target="_blank" rel="noopener noreferrer">
        View CPC Document
      </a>
    </p>
  {% else %}
    <p><strong>CPC Document:</strong> Not uploaded</p>
  {% endif %}

  {% if club.ptr_document %}
    <p><strong>PTR Document:</strong> 
      <a href="{{ club.ptr_document.url }}" target="_blank" rel="noopener noreferrer">
        View PTR Document
      </a>
    </p>
  {% else %}
    <p><strong>PTR Document:</strong> Not uploaded</p>
  {% endif %}
</div>
        </div>
    </div>
</div> -->