{% extends 'ccvo/base.html' %}
{% load static %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'core/styles/ccvo/add_service_record_page.css' %}">
{% endblock extra_css %}
<title>{% block title %}Add Service Record{% endblock %}</title>

{% block content %}
<div class="container py-5">
    <!-- Search Client Section -->
    <div class="search-pet-container rounded mb-5 p-4">
      <h3 class="mb-4  font-weight-bold">🔍 Search Client by ID</h3>
      <div class="search-bar">
        <form method="get" action="" class="mb-3">
          <input type="text" name="q" class="form-control" placeholder="Search for rooms..." value="{{ request.GET.q }}">
        </form>
      </div>
      <div id="clientResult" class=" text-center">
        {% if pet %}
             <div class="card owner-card m-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2">
                                {% if pet.pet_profile %}
                                <img src="{{ pet.pet_profile.url }}" alt="avatar" class="rounded-circle me-2" width="72" height="72" style="object-fit: cover;">
                                {% endif %}
                                
                                <span class="ml-3">{{ pet.name }} </span>
                                <span class="badge badge-info ml-2">{{pet.dog_id}}</span>
                                <div class="ml-auto">
                               <a href=""><button class="view">View</button></a>
                               <a href="{% url 'add-service-record-form' pet.id %}"><button class="view">Select</button></a>
                               </div>
                            </div>
                        </div>
                   </div>
        {% endif %}
      </div>
    </div>

    <div class="search-pet-container">
{% if selected_pet %}
         <div class="card owner-card m-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2">
                                {% if selected_pet.pet_profile %}
                                <img src="{{ selected_pet.pet_profile.url }}" alt="avatar" class="rounded-circle me-2" width="72" height="72" style="object-fit: cover;">
                                {% endif %}
                                
                                <span class="ml-3">{{ selected_pet.name }} </span>
                                <span class="badge badge-info ml-2">{{selected_pet.dog_id}}</span>
                                <div class="ml-auto">
                               <a href=""><button class="view">View</button></a>
                               <a href=""><button class="view">Select</button></a>
                               </div>
                            </div>
                        </div>
                   </div>
                   {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="selected_pet" value="{{selected_pet.id}}">
        <label for="service">Service:</label>
        <input list="service_list" id="service" name="service" class="form-control" placeholder="Type or select service">

        <datalist id="service_list">
            {% for s in services %}
                <option value="{{ s.name }}">
            {% endfor %}
        </datalist>
         <label for="date-administered">Date Administered:</label>
            <input type="date" id="date-administered" name="date-administered" class="form-control">


        <button type="submit">Submit</button>
      </form>
    </div>
  

  </div>



{% endblock content %}