{% extends 'ccvo/base.html' %}
{% load static %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'core/styles/ccvo/approve_request_confirmation_page.css' %}">
{% endblock extra_css %}
{% block title %}Mark as not operating clinic{% endblock %}
{% block content %}
    <div class="container mt-5 text-center">
        <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
    
       
        <h3>Mark Clinic as Not Operating</h3>
        <hr>
        <small class="mb-3">Are you sure you want to allow <strong>{{clinic.clinic_name}}</strong> to use PawTraConnect again?</small>
        

        <form form method="post" action="{% url 'marked-as-operating-clinic' clinic.id %}">
            {% csrf_token %}
       
         <button class="action-btn mb-2" ><i class="fa-solid fa-check mr-2"></i>Confirm</button>
                   
        </form>

    
            <div class="arrow-back text-center">
                    <a href="javascript:history.back()" class="arrow-back">
                        <button class="cancel-btn" ><i class="fas fa-xmark mr-2"></i> Cancel</button>
                    </a>
                </div>
    </div>
            
      </div>
    </div>
  </div>
{% endblock content %}
