{% extends 'club/base.html' %}
{% load static %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'core/styles/club/member.css' %}">
{% endblock extra_css %}
<title>{% block title %}Forum{% endblock %}</title>
{% block content %}

    <div class="row mt-5">
        <!-- REQUESTS -->
        <div class="col-lg-5"> 
            <div class="card bg-dark text-white shadow rounded-3 p-4 h-100">
                <h5 class="mb-4">Membership Request</h5>
                <div class="scroll">
                       {% for membership_request in membership_requests %}
                   <div class="card bg-secondary m-3 text-dark">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2">
                                {% if membership_request.member.profile_picture %}
                                <img src="{{ membership_request.member.profile_picture.url }}" alt="avatar" class="rounded-circle me-2" width="72" height="72" style="object-fit: cover;">
                                {% endif %}
                                <span class="text-light">@{{ membership_request.member.email }}</span>
                                    <div class="ml-auto">
                                        <form action="{% url 'accept-membership-request' membership_request.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="Accept" class="">
                                        </form>

                                          <form action="{% url 'reject-membership-request' membership_request.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="Reject" class="">
                                          </form>
                                    </div>
                                </div>
                        </div>
                   </div>
                   {% endfor %}
                </div>
             
            </div>
        </div>

        <!-- MEMBERS -->
          <div class="col-lg-7"> 
            <div class="card bg-dark text-white shadow rounded-3 p-4 h-100">
                <h5 class="mb-4">Members</h5>
                <div class="scroll">
                       {% for approved_request in approved_requests %}
                   <div class="card bg-secondary m-3 text-dark">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2">
                                {% if approved_request.member.profile_picture %}
                                <img src="{{ approved_request.member.profile_picture.url }}" alt="avatar" class="rounded-circle me-2" width="72" height="72" style="object-fit: cover;">
                                {% endif %}
                                <span class="text-light">{{ approved_request.member.username }}</span>
                                
                                <div class="ml-auto">
                              
                        
                                        <a href="{% url 'kick-member-confirmation-page' approved_request.id %}"><button>KICK</button></a>

                               </div>

                            </div>
                        </div>
                   </div>
                   {% endfor %}
                </div>
             
            </div>
        </div>


    </div>
    
  
    

{% endblock content %}